@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Quicksand:wght@400;700&display=swap');
body {
    background-color: #222;
    font-family: "Quicksand",sans-serif;
}
h1, h2 {
    font-weight: bold;
}
h1 {
    font-size: 6em;
    line-height: 90px;
}
.custom-button {
    background-color: #f06d55;
    border: none;
    color: #fff;
    font-weight: 800;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
}
.workshop-bg-1 {
    background-color: hsla(0,0%,100%,.9);
    color: #000;
    border-radius: 16px;
}
.custom-button:hover {
    color: white;
}
.workshop-bg-2 {
    background-color: #f06d55;
    border-radius: 16px;
    color: white;
}
.workshop-bg-2 .custom-button {
    background: #000 !important;
}